<html class="p-3 mb-2 bg-secondary text-white">
<header>
<div class= "header-content">
<div style="background-color: #6c757d">
   <div class=" container text-center">
   <div class="text-info">
<h1 >Welcome to Meme Ya Later</h1>
<h2> Please Login or Sign Up!</h2>
 
  

<%= button_to "Login", '/login', method: :get, class: "btn btn-primary btn-xl"%><br>
<%= button_to "Sign Up", '/users/new', method: :get, class: "btn btn-primary btn-xl"%>
 </div>
 </div>
</header>
<html>
