<h1>My Messages</h1>
<% @messages.each do |message| %>
    <%= image_tag message.body %><br>
    <p>
    <%= button_to 'Delete Message', message,
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
    </p> 
<% end %>
<%= button_to 'send meme', new_message_path, method: 'get' %><br>

