<div class="container">
  <div class="position-sticky">
   <nav id="sidebar" style="height: 40px">
     <div class="sidebar-header">
       <div style="color: #0d6efd">
       <h2>Categories:</h2>
      </div>
     </div>
       <%Category.all.each do |category|%>
      <ul class="navbar" style="width:15%">
       <h3>
       
           <div style="color: #fff;">
              <a class="nav-link" <%=link_to category.name, category_path(category)%>></a>
           </div>
        
      </h3>
     </ul>
     <%end%>
   </nav>
  </div>
</div>

