<h1> Memes </h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>

<% @memes.each do |meme| %>
    <%= link_to meme_path(meme) do %>
        <%= image_tag meme.url %>
    <% end %>
<%end%><br>


