<h1> Home </h1>
<div>
<%=render 'meme_categories'%>
</div>

<% @memes.order(created_at: :desc).each do |meme| %>
    <%= link_to meme_path(meme) do %>
           <div class="p-1">
            <img src="<%= meme.url%>" alt="" class="rounded mx-auto d-block" style="width:50%">
           </div>
   
   <% end %>
<%end%>
   


