<div class="container text-center">
  <div style="color: #0d6efd">
<h1> Home </h1>
  </div>
</div>
<%=render partial: 'meme_categories'%>

<% @memes.order(created_at: :desc).each do |meme| %>
    <%= link_to meme_path(meme) do %>
           <div class="p-3">
            <img src="<%= meme.url%>" alt="" class="rounded mx-auto d-block" style="width:50%">
           </div>
   
   <% end %>
<%end%>
   


