Posted by: <div><strong><%= link_to @meme.user.username, user_path(@meme.user.id) %></strong></div>
on <br><%= @meme.created_at %><br>
<div class="p-3">>
 <img src="<%= @meme.url%>" alt="" class="rounded mx-auto d-block" style="width:50%">
</div>

